body { 
    background-color: #F4F4F4;
    
}

  .jumbotron {
    
    height: 750px;
    background-color: #E5DFD3;
    background: no-repeat center fixed url(images/mountain.jpg);
        
        background-image: url("images/mountain.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.jumbotron .name{
    color: #F4F4F4;
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 80px;
    padding-top: 35px;
	margin: 0px;
}
.container{
    padding-top: 15%;
    padding-bottom: 10%;
    background-color: #E5DFD3;
    color: #1D2128;
	
    }

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E5DFD3;
    
}

.navigation li {float: left;}

.navigation li a {
    display: block;
    color: #1D2128;
    text-align: center;
    text-decoration: none;
	padding: 20px;
}

.navigation li a:hover:not(.active) {
    background-color: #505051;
    color: white;
}

.navigation li a.active {
    background-color: #505051;
    color:white;}

.navigation li.right {float: right;}
.logos {
	text-align:center;
	padding-bottom:10%;
	padding-top: 10%;
}
.logos img{
	padding-left: 5%;
	padding-right: 5%;
	
}

h1{
	text-align:center;
	font-size: 100px;
	padding-bottom:30px;
}

@media screen and (max-width: 600px){
    .navigation li.right,
    .navigation li {float: none;}
    .navigation li a{padding: 8px; background-size: cover;}
    .jumbotron {height: 90vh; }
    .jumbotron .name{font-size: 40px;}
}